
.centeredH2 {
    text-align: center;
}

.forgotEmail,
.forgotButton {
    width: calc(33.33% - 22px); /* Adjusted width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Changed border radius */
    margin-bottom: 10px;
}

.forgotButton {
    background-color: #33b249;
    color: #fff;
}

.forgotButton:hover{
    background-color: #5dbea3;
}
